mixin delivery-info()
    +b.delivery-info
        +e.city г. Воронеж
        +e.data
            +e.title Доставка:
            +e.row
                +e.label 
                    +icon('timer')
                    | 38 мин.
                +e.label
                    +icon('star', 'fill')
                    | 4.8