mixin bonuses-about()
    +b.SECTION.bonuses-about
        +inner
            +e.wrapper
                +e.data.--card
                    +bonus-card
                +e.data
                    +e.subtitle Начисление бонусов
                    ol
                        li При регистрации вы получаете 100 бонусных баллов.
                        li 10% с каждого заказа начисляется вам на бонусный счет.
                        li Отправьте уникальную ссылку из личного кабинета другу и как только ваш друг совершит первый заказ, каждый из вас получит по 200 бонусов на счет.
                +e.data
                    +e.subtitle Списание бонусов
                    ol
                        li Вы можете оплатить бонусными баллами 20% от стоимости заказа или 10%, если в заказ входит предложение по акции.
                        li Бонусами можно воспользоваться как при заказе на сайте, так и в кафе, достаточно назвать номер телефона, к которому привязан ваш личный кабинет.