mixin account-trigger()
    +b.account-trigger
        if (loggedIn)
            +e.A.link(href='#' class=accountPage ? 'current' : '')
                +icon('account')
                | Личный кабинет
        else 
            +e.A.login(href='#') 
                | Войти
                +icon('arrow')
        