mixin account-trigger()
    +b.account-trigger
        +e.A.login(href='#') 
            | Войти
            +icon('arrow')
        //- modifiers: ['current']
        //- +e.A.link(href='#')
        //-     +icon('account')
        //-     | Личный кабинет