mixin order-success()
    +b.SECTION.order-success
        +e.BUTTON.close(type='button')
            +icon('close')
        +e.title
            +title
                | Ваш заказ принят
        +e.text
            p Сохраните информацию в личном кабинете и совершайте последующие заказы в один клик!
            p А также ...
        +e.card
            +bonus-card
        +e.A.action.btn(href='#') Создать личный кабинет
        +e.info Нажимая кнопку <a href='#'>«Войти в личный кабинет»</a> я соглашаюсь с политикой конфиденциальности
        +e.info Уже есть аккаунт? <a href='#'>Войти</a>