mixin catalog(title = '', hasFilter = false, products)
    +b.SECTION.catalog&attributes(attributes )
        +inner
            +e.title
                +title
                    | !{title}
            if (hasFilter)
                +e.filter
                    +catalog-filter
            +e.list
                each product in products
                    +e.card
                        +product-card(product)
