mixin socials()
    +b.socials
        +e.UL.list
            +e.LI.item
                +e.A.link(href='#', title='facebook')
                    img(data-src="images/socials/facebook.svg", alt="")
            +e.LI.item
                +e.A.link(href='#', title='vk')
                    img(data-src="images/socials/vk.svg", alt="")
            +e.LI.item
                +e.A.link(href='#', title='instagram')
                    img(data-src="images/socials/instagram.svg", alt="")
            +e.LI.item
                +e.A.link(href='#', title='youtube')
                    img(data-src="images/socials/youtube.svg", alt="")