mixin order-checkout()
    +b.order-checkout
        +e.cart
            +e.products
                each product in cartProducts
                    +e.product
                        +cart-product(product)
            +e.aside.--m-hidden
                +e.BUTTON.clear очистить корзину
        +e.footer
            +e.data
                +e.delivery
                    .heading Доставка
                    .value 100 ₽
                +e.total
                    .heading Итого к оплате:
                    .value 670 ₽
            +e.aside
                +e.A.next.btn(href='#')
                    | Далее
                    .icon
                        +icon('r-arrow')
        +e.actions
            if (loggedIn)
                +e.bonus
                    +e.bonus-switcher
                        +custom-switcher('bonus', 'bonusSwithcer')(checked = bonusWriteOff ? '' : false)
                           | Оплатить часть бонусами? 
                    +e.bonus-value Доступно к списанию: 67 ₽
                if (bonusWriteOff)
                    +e.FORM.bonus-form
                        +e.bonus-input
                            +custom-input('text', 'bonus_recall', 'bonusRecall', 'Списать', '100 ₽')(inputmode='numeric')
                        +e.BUTTON.bonus-submit(type='submit') Применить
            else
                +e.A.login(href='#')
                    +custom-switcher
                        | Войдите в <span class='underline'>личный кабинет</span> для оплаты бонусами