.common-modal {
    position: relative;
    width: 80%;
    max-width: 410px;
    padding: 30px;

    background-color: #fff;
    border-radius: 4px;

    &__close {
        @include btn-reset;
        position: absolute;
        width: 14px;
        height: 14px;
        right: 20px;
        top: 12px;

        svg {
            @include svg-icon;

            fill: $text-color-light;

            transition: fill 300ms ease;
        }

        &:hover {
            svg {
                fill: $theme-color-dark;
            }
        }
    }

    &__title {
        margin-bottom: 20px;
    }

    &__text {
        font-size: 16px;
        line-height: 1.6;
        margin-bottom: 20px;

        p {
            margin: 0 0 10px;
        }
    }

    &__input {
        margin-bottom: 10px;
    }

    &__submit {
        margin: 20px 0 10px;
    }

    &__info {
        margin: 0 0 20px;

        font-size: 12px;
        line-height: 1.6;

        a {
            color: $text-color;
            text-decoration: underline;
            transition: color 300ms ease;

            &:hover,
            &:active {
                color: $theme-color;
            }
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

@media #{$tablet} {
    .common-modal {
    }
}

@media #{$mobile} {
    .common-modal {
        width: 100%;
        padding: 20px;
    }
}
