.custom-checkbox {
    $this: &;
    position: relative;

    &__label {
        display: block;
        position: relative;
        padding: 0;
        padding-left: 24px;

        color: $text-color;
        font-size: 16px;
        line-height: 1.6;

        cursor: pointer;

        &::before {
            content: '';
            position: absolute;
            width: 16px;
            height: 16px;
            top: 50%;
            left: 0;
            transform: translateY(-50%);

            border: solid 1px $grey-dark;
            border-radius: 4px;
            background-color: #fff;

            transition: all 300ms ease;
            box-sizing: border-box;
        }

        &::after {
            content: '';
            position: absolute;
            width: 4px;
            height: 8px;
            left: 5px;
            top: 50%;

            border-width: 0 2px 2px 0;
            border-style: solid;
            transform: rotate(45deg) translate(-70%, -40%);
            border-color: $text-color;
            opacity: 0;
            border-radius: 2px;

            transition: opacity 300ms ease;
        }

        &:hover {
            &::before {
                border-color: $theme-color;
            }
        }
    }

    &__input {
        position: absolute;
        opacity: 0;

        &:checked + #{$this}__label {
            &::after {
                opacity: 1;
            }
        }
    }
}

@media #{$mobile} {
    .custom-checkbox {
        &__label {
            padding-left: 40px;

            &::before {
                width: 30px;
                height: 30px;
            }

            &::after {
                width: 8px;
                height: 11px;
                left: 11px;
            }
        }
    }
}
