mixin instagram-snippet()
    +b.SECTION.instagram-snippet
        +e.title
            +title
                | Подписывайтесь на @dongiopizza и успевайте ухватить самые горячие предложения
        +e.slider
            +e.slides
                +e.slide
                    img(src='images/instagram/image1.jpg', alt='')
                +e.slide
                    img(src='images/instagram/image2.jpg', alt='')
                +e.slide
                    img(src='images/instagram/image3.jpg', alt='')
                +e.slide
                    img(src='images/instagram/image4.jpg', alt='')
            +e.controls
                +e.BUTTON.control.next