@import 'includes/normalize.scss';
@import 'includes/fonts.scss';
@import 'variables.scss';
@import '../blocks/**/*';

html {
    height: 100%;
}

body {
    min-height: 100%;
    min-width: 320px;

    font-family: $font;
    color: $text-color;
    font-weight: 500;

    display: flex;
    flex-flow: column nowrap;

    &.menu-opened,
    &.modal-opened {
        overflow: hidden;
    }
}

/*
    TODO remove this code on prod
    demo purpose only
*/
.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 50px 0;

    overflow-y: auto;

    background-color: rgba(#000, 0.8);

    .modal-inner {
        width: 100%;
        min-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @media #{$mobile} {
        padding-bottom: 0;
    }
}
