mixin sales-list()
    +b.SECTION.sales-list
        +inner
            +e.title
                +title 
                    | Акции и бонусы
            +e.wrapper
                +e.card
                    +sales-card
                +e.card
                    +sales-card