.order-layout {
    padding-top: 40px;
    padding-bottom: 70px;

    &__title {
        margin-bottom: 20px;
    }

    &__steps {
        margin-bottom: 30px;
    }

    &__wrapper {
        display: flex;
    }

    &__main {
        flex: 1 1 auto;
        padding-right: 55px;
    }

    &__sidebar {
        width: 325px;
        flex: 0 0 auto;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-end;
    }

    &__bonus-card {
        margin-bottom: 35px;
    }

    &__login-appeal {
        margin-bottom: 35px;
    }

    &__delivery-time {
        max-width: 285px;

        .input {
            margin-bottom: 10px;
        }
    }

    &__next {
        margin-top: 80px;
        width: 160px;
        
        .icon {
            position: relative;
            margin-left: 10px;
            width: 22px;
            height: 10px;

            svg {
                @include svg-icon;

                stroke: currentColor;
                stroke-width: 2px;
            }
        }
    }
}

@media #{$laptop} {
    .order-layout {
    }
}

@media #{$tablet} {
    .order-layout {
        &__wrapper {
            display: block;
        }

        &__main {
            width: 100%;
            padding-right: 0;
        }

        &__sidebar {
            width: 100%;
            align-items: flex-start;
        }

        &__bonus-card {
            margin-bottom: 25px;
        }

        &__login-appeal {
            margin-bottom: 25px;
        }

        &__next {
            margin-top: 60px;
        }

        &__bonus-card {
            display: none;
        }
    }
}

@media #{$mobile} {
    .order-layout {
        padding-bottom: 40px;

        &__title {
            margin-bottom: 10px;
        }

        &__steps {
            margin-bottom: 20px;
        }

        &__next {
            width: 100%;
            margin-top: 30px;
        }
    }
}
