mixin order-layout()
    +b.SECTION.order-layout
        +inner
            +e.title
                +title
                    | Оформление заказа
            +e.steps
                +order-steps
            +e.wrapper
                block