mixin doc-footer()
    // build:js js/vendor.js 
    script(src='libs/svgxuse.js')
    script(src='libs/flickity/flickity.js')
    script(src='libs/simpleBar/simplebar.js')
    //- script(src='libs/nouislider/nouislider.js')
    //- script(src='libs/nouislider/wNumb.js')
    script(src='libs/stickyfill.min.js')
    script(src='libs/inputmask.min.js')
    script(src='libs/micromodal.min.js')
    script(src='libs/fslightbox/fslightbox.min.js')
    script(src='libs/dropzone.js')
    script(src='libs/tooltips/popper.js')
    script(src='libs/tooltips/tooltip.js')

    //- script(src='libs/lazyload.js')
    //- script(src='libs/select2/select2.min.js')
    //- script(src='libs/polyfills/placeholders.min.js')
    //- script(src='libs/picturefill.min.js')

    // endbuild
    // build:js js/main.js
    //- script(src='js/bem.js')
    script(src='js/main.js')
    // endbuild


