mixin icon(name, type, additionalClass)
    svg(class=additionalClass ? additionalClass : '')
        if (type === 'fill')
            use(xlink:href="images/html-sprite-fill.svg#" + name)
        else
            use(xlink:href="images/html-sprite.svg#" + name)