mixin login-appeal()
    +b.login-appeal
        +e.title Уже зарегистрированы на сайте?
        +e.text Войдите в <a href='#'>личный кабинет</a> для автозаполнения информации и использования бонусов в оплате