include template/header
include template/footer
include ../blocks/**/*
- const alias = "m"
- const accountPage = true
- const loggedIn = true
- const editAccount = true

doctype html
html(lang='ru')
    +doc-header
    body
        +main-header
        +breadcrumbs(['Личный кабинет'])
        +account-layout
            +account-info
        +main-footer
        +doc-footer