include template/header
include template/footer
include ../blocks/**/*
- const alias = "m"

doctype html
html(lang='ru')
    +doc-header
    body
        +main-header
        +breadcrumbs(['Пиццы'])
        //- -const productsList = products.filter((item, index) => {if (index < 8) {item.index = index; return item}})
        +catalog('Пиццы', true, products)
        +main-footer
        +doc-footer