include template/header
include template/footer
include ../blocks/**/*
- const alias = "m"

- const showIngredientsDropdown = true

doctype html
html(lang='ru')
    +doc-header
    body(сlass='modal-opened')
        .modal
            .modal-inner
                +halves-modal
        +doc-footer