include template/header
include template/footer
include ../blocks/**/*
- const alias = "m"

doctype html
html(lang='ru')
    +doc-header
    body
        +inner
            +dev-nav
        +doc-footer