include template/header
include template/footer
include ../blocks/**/*
- const alias = "m"
- const cartPage = true

doctype html
html(lang='ru')
    +doc-header
    body
        +main-header
        +breadcrumbs(['Корзина', 'Оформление заказа'])
        +order-layout
            +e.main
                +order-checkout
            +e.ASIDE.sidebar
                +e.login-appeal
                    +login-appeal
        +sauses
        +main-footer
        +doc-footer