include template/header
include template/footer
include ../blocks/**/*
- const alias = "m"

doctype html
html(lang='ru')
    +doc-header
    body(сlass='modal-opened')
        .modal
            .modal-inner
                +order-success
        +doc-footer