include template/header
include template/footer
include ../blocks/**/*
- const alias = "m"
- const salesPage = true

doctype html
html(lang='ru')
    +doc-header
    body
        +main-header
        +breadcrumbs(['Акции и бонусы'])
        +sales-list
        +bonuses-about
        +main-footer
        +doc-footer