include template/header
include template/footer
include ../blocks/**/*
- const alias = "m"
- const workPage = true

doctype html
html(lang='ru')
    +doc-header
    body
        +main-header
        +breadcrumbs(['Работа в DONGIO'])
        +work-section
        +main-footer
        +doc-footer