mixin bonus-card()
    +b.bonus-card
        +e.title Бонусная карта любимого клиента DONGIO
        +e.BUTTON.tooltip(type='button') ?
        +e.sum
            +e.sum-title Доступно
            +e.sum-value 365 ₽