.bonus-card {
    position: relative;
    width: 255px;
    height: 144px;

    color: $text-color-white;

    border-radius: 4px;

    background-image: url(../images/bonus-card/card.svg);
    background-size: cover;

    &__title {
        position: absolute;
        top: 10px;
        left: 10px;
        right: 40px;

        font-size: 16px;
        font-weight: 900;
        line-height: 1.4;
        letter-spacing: 3%;
    }

    &__tooltip {
        @include btn-reset;
        width: 24px;
        height: 24px;
        position: absolute;
        top: 10px;
        right: 12px;

        font-size: 16px;
        color: $text-color;
    }

    &__sum {
        position: absolute;
        left: 10px;
        right: 10px;
        bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__sum-title {
        font-size: 16px;
        font-weight: 600;
        line-height: 1.6;
    }

    &__sum-value {
        min-width: 85px;
        height: 25px;
        padding: 0 8px;

        font-size: 16px;
        line-height: 25px;
        color: $text-color;

        background-color: #fff;
    }
}

@media #{$tablet} {
    .bonus-card {
    }
}

@media #{$mobile} {
    .bonus-card {
    }
}
