mixin main-footer()
    +b.FOOTER.main-footer
        +e.top
            +e.column
                +e.title Контакты
                +e.info
                    +icon('phone')
                    a(href='tel:204-54-14') 204 - 54 - 14
                +e.info
                    +icon('pointer')
                    | Олимпийский Бульвар, д.&nbsp;6
                +e.info
                    +icon('mail')
                    a(href='mailto:support@dongio.com') support@dongio.com
            +e.column
                +e.title Мы в соцсетях
                +e.info
                    +icon('vk')
                    a(href='#') ВКонтакте
                +e.info
                    +icon('facebook')
                    a(href='#') Facebook
                +e.info
                    +icon('instagram')
                    a(href='#') Instagram
            +e.NAV.menu.__column
                +e.UL.menu-list
                    +e.LI.menu-item
                        +e.A.menu-link(href='#') Доставка и оплата
                    +e.LI.menu-item
                        +e.A.menu-link(href='#') Акции и бонусы
                    +e.LI.menu-item
                        +e.A.menu-link(href='#') Наша команда и кафе
                    +e.LI.menu-item
                        +e.A.menu-link(href='#') Работа в DONGIO
                    +e.LI.menu-item
                        +e.A.menu-link(href='#') Поставщикам
                    +e.LI.menu-item
                        +e.A.menu-link(href='#') Корпоративные заказы
        +e.bottom
            +e.bottom-row
                +e.legal
                    a(href='#' target='_blank') Политика конфиденциальности
                    a(href='#' target='_blank') Публичная офферта
                    a(href='#' target='_blank') © FoodSoul, 2020
                +e.developer Разработано в <a href='#' target='_blank'>Plenexy</a>
