//- modifiers: ['current', 'empty']
mixin cart-info(modifier = '', products = 0, sum = 0)
    +b.A.cart-info(href='#' class=modifier)
        +e.products
            +icon('cart')
            | :
            +e.value !{products}
        +e.sum
            +e.value
                | !{sum} ₽